@using Workspace_booking.Services
@model IEnumerable<Room>

@{
    ViewData["Title"] = "Available Rooms";
}

<h1>@ViewData["Title"]</h1>

<table class="table">
    <tbody>
    @{
        foreach (var room in Model)
        {
            <tr>
                <td>@room.Id</td>
                <td>@room.Name</td>
                <td>@room.Capacity</td>
                <td>@room.BuildingFloor</td>
            </tr>
        }

    }
    </tbody>
</table>

<form asp-controller="Rooms" asp-action="BookRoom" method="post">
    <div>
        <label for="RoomId">Room ID:</label>
        <input id="RoomId" name="RoomId" type="number" class="form-control" required />
    </div>
    <div>
        <label for="User">Your Name:</label>
        <input id="User" name="EmployeeName" type="text" class="form-control" required/>
    </div>
    <div>
        <label for="Hours">Hours:</label>
        <input id="Hours" name="Hours" type="number" class="form-control" required/>
    </div>
    <button type="submit" class="btn btn-primary mt-3"> Book this room</button>

</form>

@*after booking submission, we get a message *@
@{
    if (TempData["SuccessMessage"] != null)
    {
        <div class="alert alert-success mt-3" role="alert">
            @TempData["SuccessMessage"]
        </div>
    } else if (TempData["ErrorMessage"] != null)
    {
        <div class="alert alert-warning mt-3" role="alert">
            @TempData["ErrorMessage"]
        </div>
    }
}